.cardElement__image {
    width: 282px;
    height: 282px;
    background: #C4C4C4;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    cursor: pointer;
}