.header__menu-link {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #000000;
    cursor: pointer;
    padding: 0;
    border: none;
}

@media screen and (max-width: 767px) {
    .header__menu-link {
        font-size: calc((100vw - 320px)/(767 - 320)*(18 - 14) + 14px);
        line-height: calc((100vw - 320px)/(767 - 320)*(22 - 17) + 17px);
        margin-right: 27px;
    }
}